* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

$primary-color: #00283a;