.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .checkout-title {
    margin-bottom: 8rem;
  }

  .checkout-subtitle {
    color: #ff6f6f;
  }  

  .checkout-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:60%;

    .checkout-header {
      width: 100%;
      padding-bottom: 1.3rem;
      border-bottom: .1rem solid #333;

      .header-section {
        display: inline-block;
        width: 23%;

        &:last-child {
          width: 8%;
        }
      }
    }
  }
  
  .checkout-totals {
    align-self: flex-end;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .checkout-total {
      width: 100%;
      text-align: right;
      font-size: 3.5rem;
      margin: 1rem 0;
    }
  
    .checkout-subtotal {
      width: 100%;
      text-align: right;
      font-size: 2rem;
      margin: 1rem 0;
    }
  }
  
}