.checkout-item {
  width: 100%;
  display: flex;

  .item-info {
    width: 24%;
    text-align: left;
    margin-top: 3rem;
    padding-top: 1.5rem;

    &:first-child {
      width: 21%;
      padding-top: 0;
    }

    &:last-child {
      width: 8%;
      transform: translateX(2rem);
    } 
  }

  .image-container {
    width: 65%;

    .item-image {
      max-width: 100%;
      transform: translateX(-1rem);
    }
  }

  .description {
    font-weight: 600;
    transform: translateX(-2rem);
  }

  .quantity {
    display: flex;
    transform: translate(.9rem, -.4rem);
    
    form {
      text-align: center;
      width: 30%;
      padding-left: 2rem;
      
      input {
        text-align: center;
        width: 3rem;
        margin-bottom: .6rem;
      }

      button {
        padding: .2rem .1rem;
      }
    }

    .text-item {
      font-size: 2rem;
      padding: 0 .7rem;      
      cursor: pointer;
    }

    .reduce-quantity,
    .increase-quantity {
      &:focus {
        outline: none;
      }
      &:hover {
        color: #0004ff;
      }
    }
  }
  
  .price {
    font-weight: 600;
    letter-spacing: .05rem;
    padding-left: .3rem;
  }

  .remove {
    font-weight: 900;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
    .description,
    .quantity,
    .price,
    .remove {
      padding-top: 2.5rem;
    }
  
}

@media only screen and (max-width: 720px) {
  .checkout-item {
    width: 100%;
    display: flex;  
  
    .item-info {
      font-size: 1rem;
      width: 20%;
      text-align: left;
      margin-top: 3rem;
      padding-top: 1.5rem;
  
      &:first-child {
        width: 20%;
        padding-top: 0;
      }
  
      &:last-child {
        width: 20%;
        transform: translateX(-16%);
        text-align: right;
      } 
    }
  
    .image-container {
      width: 70%;
  
      .item-image {
        max-width: 100%;
      }
    }
  
    .description {
      padding-top: 0;
      font-weight: 600;
      transform: translateX(10%);
    }
  
    .quantity {
      transform: none;
      
      .text-item {
        padding: 0 .3rem;
        font-size: 1.1rem;
      }

      .quantity-input {
        width: 1rem;
      }
    }
    
    .price {
      font-weight: 600;
      letter-spacing: .05rem;
      transform: none;
    }
  
    .remove {
      color: red;
    }
  
    .quantity,
    .price,
    .remove {
      padding-top: unset;
      text-align: center;
    }
  } 
}