.checkout-item {
  width: 100%;
  display: flex;
  align-items: stretch;
  margin-top: 2rem;

  .item-info {
    width: 20%;
    text-align: center;
  }

  .image {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .image-container {
    width: 70%;

    .item-image {
      max-width: 100%;
    }
  }

  .description {
    font-weight: 600;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  .quantity {
    display: flex;
    justify-content: center;
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 60%;
      
      input {
        width: 3rem;
        text-align: center;
        padding: .2rem .4rem;
        margin-bottom: .7rem;
      }

      button {
        font-size: 1.4rem;
        padding: .5rem .4rem;
        color: white;
        background-color: #00283ad5;
      }
    }

    .text-item {
      font-size: 2rem;
      padding: 0 .7rem;      
      cursor: pointer;
    }

    .reduce-quantity,
    .increase-quantity {
      &:focus {
        outline: none;
      }
      &:hover {
        color: #00283ad5;
      }
    }
  }
  
  .price {
    font-weight: 600;
    letter-spacing: .05rem;
    padding-left: .3rem;
  }

  .remove {
    font-weight: 900;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
    .description,
    .quantity,
    .price,
    .remove {
      padding-top: 2.5rem;
    }
}

@media only screen and (max-width: 960px) {
  .checkout-item {
    font-size: 1.45rem;
  
    .quantity {
      
      form {
        width: 60%;
  
        button {
          font-size: 1.1rem;
        }
      }
  
      .text-item {
        font-size: 1.8rem;
        padding: 0 .5rem;
      }
    }
      .description,
      .quantity,
      .price,
      .remove {
        padding-top: 2.2rem;
      }
  }  
}


@media only screen and (max-width: 600px) {
  .checkout-item {
    font-size: 1.1rem;
    
    .quantity {
      
      form {
        width: 60%;
  
        button {
          font-size: 1.1rem;
        }
      }
  
      .text-item {
        font-size: 1.4rem;
        padding: 0 .4rem;
      }
    }
      .description,
      .quantity,
      .price,
      .remove {
        padding-top: .8rem;
      }
  }  
}

@media only screen and (max-width: 400px) {
  .checkout-item {
    font-size: .8rem;
  
    .quantity {
      
      form {
        width: 60%;
  
        button {
          font-size: 1.1rem;
        }
      }
  
      .text-item {
        font-size: 1rem;
        padding: 0 .4rem;
      }
    }
      .description,
      .quantity,
      .price,
      .remove {
        padding-top: .1rem;
      }
  }  
}