.custom-button {
  height: 3.8rem;
  min-width: 18rem;
  width: 80%;
  background: #002333;
  color: #fff;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2rem;
  border: .05rem solid #fff;
  margin-bottom: 1.2rem;
  opacity: .9;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: #002333;
    background: #fff;
    border: .05rem solid #002333;
  }
}

.added-to-cart {
  font-weight: 600;
  background: #fff;
  color: #002333;
  border: .1rem solid #002333;

  &:hover {
    color: #002333;
    background: #fff;
    border: .1rem solid #002333;
  }
}

.go-to-home {
  font-weight: 600;
  font-size: 1.2rem;
  width: 7rem;
  color: #fff;
  background: #ff5c5c;
  border: .1rem solid #fff;
  margin-top: 3rem;

  &:hover {
    background: #fff;
    color: #ff5c5c;
    border: .1rem solid #ff7171;    
  }
}