.custom-button {
  height: 4rem;
  min-width: 18rem;
  width: auto;
  background: #333;
  color: #fff;
  border-radius: .5rem;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
  border: .05rem solid #fff;

  &:hover {
    color: #333;
    background: #fff;
    border: .05rem solid #333;
  }

  .add-to-cart {
    color: #333;
    background: #fff;
    width: 80%;
    text-align: center;
  }
}