.custom-button {
  height: 3.8rem;
  min-width: 18rem;
  width: 80%;
  background: #333;
  color: #fff;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2rem;
  border: .05rem solid #fff;
  margin-bottom: 1rem;

  &:hover {
    color: #333;
    background: #fff;
    border: .05rem solid #333;
  }
}