.header {
  display: flex;
  justify-content: space-between;
  margin: 4rem 6rem;

  .navigation-links {
    display: flex;
    margin-top: 8rem;

    .navigation-item {
      margin-right: 4rem;

      &:last-child {
        margin-right: 5rem;
      }
    }
  }
}