.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  position: relative;
  width: 100vw;
  background: #00283a;
  margin-bottom: 8rem;

  .logo {
    margin-left: 1rem;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

    &:active {
      transform: scale(.7);
    }
  }

  .navigation-links {
    display: flex;
    align-items: center;

    .navigation-item {
      font-size: 2.2rem;
      font-weight: 700;
      color: #fff;
      margin: 0 2.5rem;
      cursor: pointer;

      &:last-child {        
        margin: 0 1rem;

        &::after {
          visibility: hidden;
        }
      }

      a[disabled] {
        pointer-events: none;
      }
      
      &::after {
        content: '';
        display: block;
        transform: scaleX(0);
        height: .2rem;
        margin-top: .5rem;
        background-color: #fff;
        transition: all .3s ease-out;
        width: 100%;
      }      

      &:hover {
        &::after {
          transform: scaleX(1);
          transform-origin: 50% 50%;
        }
      }
    }

    .shop {
      .shop-link {
        text-decoration: none;  
        color: #fff;
      }
    }    

    .signed-in {
      display: block;
      position: relative;

      &::after {
        visibility: hidden;
      }

      .sign-out {
        display: block;
        position: absolute;
        top: 0;
        right: -7rem;
        opacity: 0;
        z-index: 1;
        transition: transform .4s ease-out;
                
      }
      
      &:hover {
        .welcome-message {
          opacity: 0;
        }
        .sign-out {
          transform: translateX(-8rem);
          opacity: 1;
        }
      }
    }
  }
  
}

@media only screen and (max-width: 960px) {
  .header {    
    height: 7rem;
    padding-top: .5rem;
    margin-bottom: 4rem;
    justify-content: space-between;

    .logo {
      width: 3.5rem;
      margin-left: .3rem;
    }
    
    .navigation-links {

      .navigation-item {
        font-size: 1.8rem;
        margin-left: 1rem;
        margin-right: 1.5rem;

        &:last-child {
          margin-left: 0;
        }
      }
      .signed-in {  
        .sign-out {
          position: unset;
          display: block;
          opacity: 1;
        }
  
        .welcome-message {
          display: none
        }
  
        &:hover {
          .sign-out {            
            transform: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 6rem;
    padding: 0 1rem;
    width: 100vw;
    background: #00283a;
    margin-bottom: 2rem;
    justify-content: space-between;
  
    .logo {
      width: 3rem;
      margin-left: .3rem;
      margin-top: .3rem;
    }
  
    .navigation-links {
      
      .navigation-item {
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        margin: 0 .8rem;
        
        &::after {
          display: none;
        }
      }
    
      .shop {
        &:hover, &:active {     
          .navigation-dropdown {
            visibility: visible;
            transition-delay: 0s;
          }
        }
      }

      .signed-in {  
        .sign-out {
          position: unset;
          display: block;
          opacity: 1;
        }

        .welcome-message {
          display: none
        }

        &:hover {
          .sign-out {            
            transform: none;
          }
        }
      }
    }    
  }
}


@media only screen and (max-width: 450px) {
  .home {
    display: none;
  }
}