.navigation-dropdown {
  padding: 2rem 0;
  border: .1rem solid #c5c5c5;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: #1a1919;
  border-radius: .5rem;
  width: 100%;
  margin: 3rem 0;
  left: 0;
  visibility: hidden;
  transition: visibility .2s .3s;
  box-shadow: .8rem .8rem 1rem #5e5e5e;
}