.navigation-dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  z-index: 2;

  .image-container {
    width: 18rem;
    height: 12rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    text-align: center;    
    border: .1rem solid #c9c9c9;
    border-radius: .2rem;

    .category-image {
      max-height: 100%;
      width: auto;
      transition: transform 1s ease;
      
      &:hover {
        transform: scale(1.2) translate3d(0,0,0);
      }
    }
  }

  .category-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 600px) {
  .navigation-dropdown-item {
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 0.3rem;
  
    .image-container {
      width: 9rem;
      height: 6rem;
      margin-bottom: 1.5rem;
      text-align: center;    
      border: .1rem solid #c9c9c9;
      border-radius: .2rem;
  
      .category-image {
        max-height: 100%;
        width: auto;
        
        &:hover {
          transform: none;
        }
      }
    }
  
    .category-title {
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
    }    
  }
}