.product-overview-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .category-header {
    margin-bottom: 5rem;
  }

  .category-title, .category-subtitle {
    display: inline-block;
  }

  .category-title {
    margin-right: 3rem;
    color: #00283a;
  }

  .category-subtitle {
    text-transform: capitalize;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: .1rem solid #333;

    &:hover {
      border-bottom: 0;
    }
  }

  .category-list {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;

    .product-display-item {
      width: 19.5%;
      align-items: center;
      
      .custom-button {
        margin: 1.3rem 0;
      }

      .item-info-list {
        padding-left: 0;
      }

      &:after {
        left: -.75rem;
      }
    }
  }
}

@media only screen and (max-width: 1184px) {
  .product-overview-category {
  
    .category-header {
      margin-bottom: 3rem;
      text-align: left;
    }
    
    .category-title {
      font-size: 2.2rem;
      margin-right: 1.2rem;
    }
  
    .category-subtitle {
      font-size: 1.5rem;
    }
  
    .category-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: .1rem;
      justify-content: center;
      margin: 0;
  
      .product-display-item {
        width: 100%;
        
        .item-image-container {
          max-width: 15rem;
          margin-bottom: .5rem;
          .item-image {
            width: 100%;
      
            &:hover {
              transform: none;
            }
          }   
        }
        .custom-button {
          min-width: 10rem;
          width: 13rem;
          height: 2.8rem;
          font-size: .9rem; 
          margin: 1.3rem 0;
        }
  
        .item-info-list {
          padding-left: 2rem;
        }
  
        &:after {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .product-overview-category {
  
    .category-header {
      margin-bottom: 3rem;
      text-align: left;
    }
    
    .category-title {
      font-size: 1.6rem;
      margin-right: 1.2rem;
    }
  
    .category-subtitle {
      font-size: 1.1rem;
    }
  
    .category-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: .1rem;
      justify-content: center;
      margin: 0;
  
      .product-display-item {
        width: 100%;
        
        .item-image-container {
          max-width: 12rem;
          margin-bottom: .5rem;
          .item-image {
            width: 100%;
      
            &:hover {
              transform: none;
            }
          }   
        }
        .custom-button {
          width: 10rem;
          height: 2.5rem;
          font-size: .9rem; 
          margin: 1.3rem 0;
        }
  
        .item-info-list {
          padding-left: 2rem;
        }
  
        &:after {
          display: none;
        }
      }
    }
  }
}