.product-display-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 3rem;
  position: relative;
  margin-bottom: 3rem;

  .custom-button {
    display: block;
    visibility: hidden;
    width: 20rem;
  }

  &:hover {
    .custom-button {
      visibility: visible;
    }
  }

  &:first-child::after {
    display: none;
  }

  &::after {
    content: '';
    overflow: hidden;
    background: #eee;
    display: block;
    position: absolute;
    height: 95%;
    width: .1rem;
  }

  .item-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 23rem;
    margin-bottom: .5rem;

    .item-image {
      width: 100%;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        transform: scale(1.07);
      }
    }    
  }

  .item-info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding-left: 1.3rem;

    .item-info-item {
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: .05rem;
      margin-bottom: .8rem;
    }

    .title {
      font-size: 1.8rem;
      font-weight: 700;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}