.product-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 4rem;

  .product-details {
    width: 80%;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;

    .product-image-container {
      justify-self: center;
      align-self: center;
      margin-right: 2rem;
    }

    .product-info {
      display: flex;
      flex-direction: column;
      border: .1rem solid #00283a;
      box-shadow: 1rem 1rem 2rem #d8d8d8;
      animation: slideUp .3s ease-out;
      
      .info-title {
        text-align: center;
        padding: 1rem 4rem;
        font-size: 2rem;
        background: #00283a;
        color: white;
      }
      
      .product-info-sections {
        display: flex;
        padding: 2rem 0;

        .info-items {
          margin-top: 2rem;
          margin-bottom: 1rem;
          margin-left: 2rem;
          padding-top: 1rem;
          padding-left: 4rem;
  
          .info-logo-container {
            margin-bottom: 2rem;
          }

          .features {
            margin-bottom: 3rem;
            
            .feature {
              line-height: 1.5;
            }
          }
  
          .actions {
            min-width: 44rem;
            .custom-button {
              width: 20rem;
              margin-top: 2rem;
              margin-right: 2rem;
            }        
          }
  
          li {
            list-style: none;
            margin: .6rem 0;
          }          
          
        }    
      }           
    }

    .item-price {
      display: flex;
      align-items: flex-start;
      padding-top: 4rem;
      padding-right: 4rem;
      font-size: 4.5rem;

      .price-sub {
        font-size: 2rem;
      }
    }
  }   
}

@keyframes slideUp {
  0% {
    transform: translateY(50rem);
  }

  100% {
    transform: translateY(0)
  }
}

@media only screen and (max-width: 720px) {
  .product-details-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
  
    .product-details {
      width: 100%;
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 4rem 0;
  
      .product-image-container {
        width: 20rem;
        justify-self: center;
        align-self: center;
        margin-right: 0;

        .product-image {
          width: 100%;
        }
      }
  
      .product-info {
        display: flex;
        flex-direction: column;
        border: none;
        box-shadow: none;
        
        .info-title {
          text-align: center;
          padding: 1rem 1rem;
          font-size: 1.5rem;
          background: #00283a;
          color: white;
        }
        
        .product-info-sections {
  
          .info-items {
            margin-top: 1rem;
            margin-bottom: .5rem;
            margin-left: 1rem;
            padding-top: .5rem;
            padding-left: 1rem;
    
            .info-logo-container {
              margin-bottom: 2rem;
            }
  
            .features {
              font-size: 1.3rem;
              margin-bottom: 3rem;
            }
    
            .actions {
              display: flex;
              min-width: 20rem;

              .custom-button {
                width: 11rem;
                height: 3rem;;
                margin-top: 2rem;
                margin-right: 1rem;
              }        
            }
    
            li {
              list-style: none;
              margin: .6rem 0;
            }                      
          }    
        }           
      }
  
      .item-price {
        padding-top: 1rem;
        padding-right: 1.4rem;
        font-size: 2.5rem;
  
        .price-sub {
          font-size: 1.2rem;
        }
      }
    }   
  } 
}