.product-details-page {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 4rem;

  .product-details {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: auto;

    .product-image-container {
      flex: 2;
      justify-self: center;
      align-self: center;
      text-align: center;
      margin: 1rem 8rem 1rem 4rem;
      max-width: 45rem;

      .product-image {
        height: auto;
        width: 100%;
      }
    }

    .product-info {
      flex: 3;
      display: flex;
      flex-direction: column;
      border: .1rem solid #f0f0f0;
      box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.205);
      animation: slideUp .3s ease-out;
      max-width: 60%;
      
      .actions {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3rem;
        padding: 0 3rem;

        .custom-button {
          width: 23rem;
          height: 4.5rem;
          margin-top: 2rem;
          margin-left: 3rem;
          margin-right: 1rem;
          font-size: 80%;
        }        
      }
      
      .info-title {
        text-align: center;
        padding: 1.5rem 4rem;
        font-size: 2.2rem;
        background: #00283a;
        color: white;
      }
      
      .product-info-sections {
        display: flex;
        justify-content: space-between;
        padding: 3rem 4rem 0 6rem;

        .info-items {
          font-size: 2rem;
  
          .info-logo-container {
            margin-bottom: 2rem;
          }

          .features {
            margin-bottom: 3rem;
            
            .feature {
              line-height: 1.5;
              letter-spacing: .1rem;
            }
          }         
  
          li {
            list-style: none;
            margin: .6rem 0;
          }          
          
        }    
      }           
    }

    .item-price {
      display: flex;
      width: 30%;
      justify-content: flex-end;
      align-items: flex-start;
      font-size: 4rem;

      .price-sub {
        font-size: 1.8rem;
      }
    }
  }   
}

@keyframes slideUp {
  0% {
    transform: translateY(50rem);
  }

  100% {
    transform: translateY(0)
  }
}

@media only screen and (max-width: 1184px) {
  .product-details-page {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
  
    .product-details {
      padding: 1rem 1rem;
      width: 100%;
      display: flex;
      justify-content: space-around;

      .item-price {
        display: flex;
        width: 30%;
        justify-content: flex-end;
        align-items: flex-start;
        padding-top: 2rem;
        padding-right: 4rem;
        font-size: 3rem;
  
        .price-sub {
          font-size: 2rem;
        }
      }

      .product-image-container {
        justify-self: center;
        align-self: center;
        margin-right: 0;
  
        .product-image {
          max-width: 25rem;
        }
      }
  
      .product-info {
        display: flex;
        flex-direction: column;
        border: .1rem solid #00283a;
        box-shadow: unset;
        
        .actions {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 3rem;
          padding: 0 1rem;
  
          .custom-button {
            min-width: 1rem;
            width: 40%;
            height: 4rem;
            margin-left: auto;
            margin-right: auto;
            font-size: 70%;
          }        
        }
        
        .info-title {
          text-align: center;
          padding: 1.5rem 3rem;
          font-size: 1.8rem;
        }
        
        .product-info-sections {
          display: flex;
          padding: 1rem 0;
  
          .info-items {
            width: 70%;
            margin-top: 2rem;
            margin-bottom: 1rem;
            margin-left: 2rem;
            padding-top: 1rem;
            padding-left: 2rem;
            font-size: 1.5rem;
    
            .info-logo-container {
              margin-bottom: 2rem;
            }
  
            .features {
              margin-bottom: 2rem;              
            } 
          }    
        }           
      }     
    }   
  }
  
}

@media only screen and (max-width: 800px) {
  .product-details-page {
    margin: unset;
  
    .product-details {
      padding: 0;
      width: 100%;
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 4rem 0;
  
      .product-image-container {
        width: 25rem;

        .product-image {
          max-width: 100%;
        }
      }
  
      .product-info {
        width: 100%;
        border: none; 
        
        .actions {
          display: flex;
          min-width: 15rem;
          padding-left: 1rem;
          
          .custom-button {
            min-width: 1rem;
            width: 20rem;
            height: 4rem;
            margin-left: auto;
            margin-right: auto;
            font-size: 70%;
          } 
        }   

        .info-title {
          font-size: 1.4rem;
        }
  
        .product-info-sections {
          padding: 1rem 0;
  
          .info-items {
            width: 70%;
            margin-top: 1.5rem;
            margin-left: .5rem;
            padding-top: 1rem;
            padding-left: 2rem;
            font-size: 1.2rem;
    
            .info-logo-container {
              margin-bottom: 2rem;
            }
  
            .features {
              margin-bottom: 3rem;              
            }
          }
  
          .item-price {
            position: absolute;
            right: 1rem;
            padding-top: 2rem;
            padding-right: 1rem;
            font-size: 3rem;
      
            .price-sub {
              font-size: 1.5rem;
            }
          }
        }   
      }            
    }   
  } 
}

