.product-shop {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem;

  .shop-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;
  }
}

